extends layout

block content
 h5.page-header Add Contact
  p Please add your contact using form below!
  form(method='post',action='/users/add')
   .form-group
    label Name
    input.form-control(name='name',type='text',placeholder='Enter Name')
   .form-group
    label Phone
    input.form-control(name='phone',type='text',placeholder='Enter Phone')
   .form-group
    label Email
    input.form-control(name='email',type='text',placeholder='Enter Email Address')
   .form-group
    label Date of Birth
    input.form-control(name='dob',type='text',placeholder='dd/mm/yy Format')
    input.btn.btn-primary(type ='submit', name ='submit', value = 'Add')